.user {
  display: flex;
  padding: 4px;
  justify-content: space-between;
  background-color: white;
}

.user .name,
.user .hobby {
  font-size: 20px;
}

.user .address {
  font-size: 18px;
}

.user .right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  margin-right: 48px;
}

.user .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.no-user {
  display: flex;
  flex-direction: column;
}

.no-user > div {
  text-align: center;
}

.no-user .zero {
  font-size: 128px;
  font-weight: bold;
  color: orange;
}

.no-user .text {
  font-size: 128px;
  font-weight: bold;
  font-style: italic;
  color: lightcoral;
}
